body {
    margin: 20px;
  }
  img {
    width: 150px; height: 150px; border: solid; border-color:green
  }
  h1 {
    background-color:yellow; border :5px solid purple; color :blue;
  }
  p {
    color :red; 
  }
  
  
  
  
  
  
  
  
  
  